.cartMenu {
    background-color: #fff;
    width: 20%;
    box-shadow: 2px 2px 4px 0 #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin-top:10px;
}

.blogImg {
    width: 100%;
}

.cartMenuAbout {
    width: 90%;
}

.cartAbout {
    color: rgba(0, 0, 0, 0.9);
    font-family: Nunito, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}


/* Media screen */

@media screen and (max-width:1110px) {
    .cartMenu{
        width: 45%;
    }
}

@media screen and (max-width:716px) {
    .cartMenu{
        width: 80%;
    }
}