.blogSec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blogHead{
    font-family: Nunito, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color:  rgb(51, 51, 51);
    padding: 10px 0;
}
.blogProducts{
    background-color: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
}