@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

.formBox {
    padding: 60px 0;
    width: 470px;
    margin: 0 auto;
    background-color: transparent;
    min-height: 450px;
}
.title{
    text-align: center;
    font-size: 36px;
    font-family: "Geologica";
    font-weight: 300;
}
.iconbox{
    height: 48px;
    width: 48px;
    background-color: rgba(128, 128, 128, 0.066);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.625);
}
.inpbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.icon{
    margin-right: 10px;
}
.forgetpsw{
    color: #2A41E8;
}
.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.subtitle{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitletext{
    font-size: 26px;
    font-weight: 600;
}
.form {
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
}
.signup{
    color: #2A41E8;
}
.inp {
    width: 100%;
    border: 1px solid #0000007b;
    outline: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    height: 48px;
    padding: 0 10px;
    border-left:0;
}

.inp:focus {
    border: 1px solid #2A41E8;
}
.submitBtn{
    width: 100% ;
    margin-top: 20px;
    background-color: #2A41E8;
    color: #fff;
    padding: 10px 26px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #2A41E8;
}
.submitBtn:hover{
    background-color: #273cdc;
}
.submitBtn:active{
    background-color: #fbfbfb;
    color: #2A41E8;
    border: 1px solid #2A41E8;
}
.error{
    color: red;
}





.radioinps {
    display: flex;
    gap: 10px;
  }
  
  .radioLabel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .radioLabel:hover {
    background-color: #e0e0e0;
  }
  
  .radioInput {
    display: none;
    width: 100%;
  }
  
  .radioInput:checked + .radioLabel {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }




@media screen and (max-width:700px) {
    .formBox {
        width: 90%;
        margin: 0 auto;
        background-color: transparent;
    }
    
    .form {
        margin: 0 auto;
        background-color: transparent;
        padding: 10px;
    }
}